body{
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* 共通　セクションタイトル */
.section-title{
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  font-size: 40px;
  margin: 0;
  padding-top: 100px;
}

.section-title::before{
  content: "−";
}

.section-title::after{
  content: "−";
}
/* /共通　セクションタイトル */




/* ヘッダー */
header{
  display: flex;
  justify-content: space-between;
  background-color: FBF9F1;
}

header > h1{
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  margin: 0;
}

#nav-list{
  display: flex;
  justify-content: space-between;
}

.nav-item a{
  text-decoration:none; 
}

.nav-item a:link{
  color: black;
}

.nav-item a:visited{
  color: black;
}

.nav-item a:hover{
  text-decoration: underline;
}

.nav-item{
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  list-style: none;
  font-size: 20px;
  padding: 0 10px;
}
/* /ヘッダー */



/* メインビジュアル */
#main-visual{
  aspect-ratio: 3 / 2;
  width: 100%;
  display: flex;
  position: relative;
  background-color: #F8F4EA;
}

#namecard{
  width: 30%;
  aspect-ratio: 1.654 / 1;
  z-index: 20;
  position: absolute;
    bottom: 10%;
    left: 10%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mv-img{
  width: 60%;
  aspect-ratio: 4 / 3;
  z-index: 10;
  position: absolute;
    top: 10%;
    right: 10%;
}

#nc-name{
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3.5vw;
  margin: 0;
}

#nc-catchcopy{
  font-size: 1.2vw;
  margin: 0;
}
/* /メインビジュアル */


/* WORKSセクション */
#WORKS{
  width: 100%;
  background-color: #F8F4EA;
}

#works-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 80px 0 80px;
}

.works-img{
  width: 300px;
  aspect-ratio: 4 / 3;
}

.works-item{
  margin: 50px 0;
}

.works-name{
  font-weight:bold;
  font-size: 20px;
  margin-bottom: 0;
}

.works-skill{
  margin-top: 0;
}

.works-link{
  text-decoration: none;
}

.works-link:link{
  color: black;
}

.works-link:visited{
  color: black;
}
/* /WORKSセクション */



/* SKILLセクション */
#SKILL{
  width: 100%;
  background-color: #F8F4EA;
}

#skill-table{
  margin: 50px auto 0 auto;
}

#skill-table td{
  padding: 30px 50px;
}

.skill-name{
  font-weight:bold;
  font-size: 20px;
}

.skill-name::before{
  content: "◼️";
}
/* /SKILLセクション */


/* ABOUTセクション */
#ABOUT{
  width: 100%;
  background-color: #F8F4EA;
  padding-top: 100px;
  padding-bottom: 100px;
}

#about-container{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 100px auto;
}

#hashimoto{
  width: 30%;
  aspect-ratio: 3 / 4;
}

#about-info{
  margin: 50px;
}

#about-info > h3{
  font-size: 1.8vw;

}

#about-info > p{
  padding-top: 50px;
  line-height: 3em;
}
/* /ABOUTセクション */


/* フッター */
footer h2{
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
  margin: 0;
  padding-top: 100px;
}

footer{
  background: linear-gradient(#b9def0, white);
  padding-bottom: 100px;

}

#footer-contact{
  padding: 0 50px;
}

#contact-info{
  font-size: 1.5vw;
}

#e-mail{
  margin-top: 30px;
  font-size: 1.4vw;
}

#instalogo{
}