body{
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* 共通　セクションタイトル */
.section-title{
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  font-size: 40px;
}

.section-title::before{
  content: "−";
}

.section-title::after{
  content: "−";
}

/* /共通　セクションタイトル */




/* ヘッダー */

header{
  display: flex;
  justify-content: space-between;
  background-color: FBF9F1;
}

header > h1{
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  margin: 0;
}

#nav-list{
  display: flex;
  justify-content: space-between;
}

.nav-item a{
  text-decoration:none; 
}

.nav-item a:link{
  color: black;
}

.nav-item a:visited{
  color: black;
}

.nav-item a:hover{
  text-decoration: underline;
}

.nav-item{
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  list-style: none;
  font-size: 20px;
  padding: 0 10px;
}

/* /ヘッダー */

/* メインビジュアル */

#main-visual{
  aspect-ratio: 3 / 2;
  width: 100%;
  display: flex;
  position: relative;
  background-color: #F8F4EA;
}

#namecard{
  width: 30%;
  aspect-ratio: 1.654 / 1;
  z-index: 20;
  position: absolute;
    top: 400px;
    left: 100px;
  background-color: white;
  text-align: center;
  
}

#mv-img{
  width: 60%;
  aspect-ratio: 4 / 3;
  z-index: 10;
  position: absolute;
    top: 30px;
    left: 400px;
}

#nc-container{
  display: inline-block;
  text-align: left;  
  /* ↑ネットで中央揃えにするためにネットで調べた。意味がわからない。 */
}

#nc-name{
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
  margin-bottom: 10px;
}


/* /メインビジュアル */


/* WORKSセクション */
#WORKS{
  width: 100%;
  background-color: #F8F4EA;
}

#works-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 80px;
}

.works-img{
  width: 300px;
  aspect-ratio: 4 / 3;
}

.works-item{
  margin: 50px 0;
}

.works-name{
  font-weight:bold;
  font-size: 20px;
  margin-bottom: 0;
}

.works-skill{
  margin-top: 0;
}

.works-link{
  text-decoration: none;
}

.works-link:link{
  color: black;
}

.works-link:visited{
  color: black;
}